.back-button-container {
  display: flex;
  justify-content: left;
  margin: 20px 0 20px 20px;
}

.back-button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #292e36;
  color: white;
}

.back-button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  margin-top: 2%;
}

.profile-left-col {
  width: 30%;
}

.profile-right-col {
  width: 60%;
  text-align: left;
}

.profile-stats-container {
  background-color: #292e36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
  text-align: center;
  width: 60%;
  border-radius: 10px;
  line-height: 2rem;
  padding: 10px;
}

.profile-repositories {
  margin-top: 3%;
}

.repo-card {
  border: 2px solid #292e36;
  border-radius: 10px;
  width: 80%;
  margin-top: 2%;
  padding: 2%;
}

.repo-card:hover {
  border: 2px solid white;
}

.repo-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.repo-row-1 p {
  font-size: 0.6rem;
  border: 2px solid #292e36;
  padding: 1% 2% 1% 2%;
  border-radius: 20px;
}

.repo-description {
  font-size: 0.8rem;
  margin-top: 3%;
}

.repositories-grid {
  overflow-y: scroll;
  margin-top: 2%;
  height: 55vh;
}

/* Scrollbar Style */
.repositories-grid::-webkit-scrollbar {
  width: 8px;
}

.repositories-grid::-webkit-scrollbar-track {
  border-radius: 10px;
}

.repositories-grid::-webkit-scrollbar-thumb {
  background: #292e36;
  border-radius: 10px;
  height: 50px;
}

.repositories-grid::-webkit-scrollbar-thumb:hover {
  background: white;
}

@media only screen and (max-width: 425px) {
  .profile-detail {
    flex-direction: column;
  }

  .profile-left-col {
    width: auto;
    padding: 5% 5% 0 5%;
  }

  .profile-right-col {
    width: auto;
    align-items: center;
    padding: 5%;
  }


  .profile-stats-container {
    gap: 8%;
    width: 70%;
    padding: 10px;
    flex-direction: column;
    width: auto;
  }

  .profile-repositories {
    margin-top: 3%;
  }

  .profile-repositories {
    margin-top: 7%;
  }


  .repo-card {
    border: 1.5px solid #292e36;
    width: 90%;
    margin-top: 3%;
    padding: 3%;
  }

  .repo-card:hover {
    border: 1.5px solid white;

  }


  .repositories-grid {
    margin-top: 3%;
    height: 50vh;
  }


  .repo-name {
    font-size: 1rem;
  }



  .repo-row-1 {
    align-items: center;
  }


}





@media only screen and (min-width: 426px) and (max-width: 1000px) {

  .profile-detail {
    flex-direction: column;
  }

  .profile-left-col {
    width: auto;
    padding: 5%;

  }

  #avatar{
    width: 15rem;
    height: 15rem;
  }

  .profile-right-col {
    width: auto;
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .profile-stats-container {
    gap: 8%;
    width: 80%;
    padding: 10px;
  }

  .profile-repositories {
    margin-top: 5%;
    width: 90%;
  }

  .repo-card {
    border: 1.5px solid #292e36;
    width: 90%;
    margin-top: 3%;
    padding: 3%;
  }

  .repo-card:hover {
    border: 1.5px solid white;

  }

  .repositories-grid {
    margin-top: 3%;
    height: 50vh;
  }


  .repo-name {
    font-size: 1rem;
  }



  .repo-row-1 {
    align-items: center;
  }


}
